.about__section{
  background-color: #E0E3E5;
  padding-top: 120px;
  padding-bottom: 75px;
  margin-bottom: 106px;
  @media (max-width: (868px)) {
    .container{
      padding: 0;
    }

  }
}

.about__block-text{
  max-width: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-19px);
  text-align: center;
  margin-bottom: 16px;
  @media (max-width: (1200px)) {
    max-width: 363px;
  }
  @media (max-width: (868px)) {
    max-width: 320px;
    transform: none;
  }

  p{
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 58px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  i{
    text-transform: uppercase;
  }
}

.about__title{
  margin-bottom: 75px;
}


.about__descr{
  font-weight: 400;
  font-size: 30px;
  padding-bottom: 52px;
  margin-bottom: 47px;
  position: relative;
  letter-spacing: 0.03em;

  br{
    display: none;
  }
  @media (max-width: (1200px)) {
    br{
      display: block;
    }
  }
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 157px;
    height: 2px;
    background-color: #000;
    transform: translateX(-50%);
  }
}



.about-inner{
  display: flex;
  justify-content: center;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-71%) translateY(-35%);
    background-image: url(../img/about-line.webp);
    width: 696px;
    height: 475px;
    @media (max-width: 1200px) {
      width: 590px;
      height: 414px;
      transform: translateX(-50%) translateY(-32%);
      background-size: cover;
    }
  }
}


.about__block-img{
  max-width: 794px;
  width: 100%;
  position: relative;
  @media (max-width: (1200px)) {
    max-width: 423px;
    img{
      min-height: 690px;
      object-position: 48%;
    }
  }
  @media (max-width: (868px)) {
    margin-left: auto;
  }




  &::after{
    content: "";
    border: 2px solid #FFFFFF;
    max-width: 770px;

    width: 100%;
    height: 100%;
    height: calc(100% - 8px);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(107px, 78px);
    box-shadow: 0px 2px 6px rgb(0 0 0 / 25%);

    @media (max-width: (1350px)) {
      transform: translate(11px, 78px);
    }
    @media (max-width: (1200px)) {
      transform: translate(-21px, 65px);
    }
    @media (max-width: (768px)) {

    }

  }
}
