.find{
  &__title{
    padding-top: 185px;
    margin-bottom: 90px;
  }
  &-wrapper{
display: flex;
align-items: center;
justify-content: center;
gap: 55px;
position: relative;
margin-bottom: 120px;

&::after{
  content: "";
  position: absolute;
  background-image: url("../../img/about-line.png");
  height: 400px;
  width: 690px;
  top: -300px;
  right: -65px;
}
  }


  &__item-text{
    font-family: 'Bodoni 72';
font-style: italic;
font-weight: 400;
letter-spacing: 0.03em;
color: #000000;
font-size: 19px;
line-height: 23px;

  }
  &__item-span{
    font-family: 'Bodoni 72';

    text-transform: uppercase;
    font-size: 70px;
    line-height: 70px;
  }
&__item-text:nth-child(1){
  margin-bottom: 73px;
}
&__item-text:nth-child(2){
  margin-bottom: 80px;
  padding-top: 60px;
}
&__item-text:nth-child(3){
  padding-top: 60px;
}
}
