.mt120{
  margin-top: 120px;
}

.header-content{
  min-height: 837px;
  position: relative;
}
.slider-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .swiper-slide  img{
    height: 837px;
    width: 100%;
    object-position: bottom;
  }

  .swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0,0,0) translateY(-68px);
  }
}

.slider-navigation{
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  z-index: 1;
}

.swiper-pagination{
  .swiper-pagination-bullet {
    width: 36px;
    height: 30px;
    background-image: url("../../img/swiper-pagination-icon.png");
    background-size: cover;
    background-color: transparent;
    opacity: 1;
    margin: 0 4px !important;
  }
  .swiper-pagination-bullet-active{
    width: 62px;
    height: 52px;
  }
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .header-container{
    position: relative;
    z-index: 1;
    height: 100%;
  }




.swiper-button-next,
.swiper-button-prev{
  width: 135px;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 135px;
    height: 136px;
  }
  &::after{
    display: none;
  }
}
.swiper-button-prev{
  img{
    transform: translate(-38%, -88%);
  }
}
.swiper-button-next{
  img{
    transform: translate(-61%, -88%);
  }
}
