.mt120{
  margin-top: 120px;
}

.header-content{
  min-height: 837px;
  position: relative;
}
.slider-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .swiper-slide  img{
    height: 837px;
    width: 100%;
    object-position: bottom;
  }
}
