.mt120{
  margin-top: 120px;
}

.header-content{
  min-height: 837px;
  position: relative;
}
.slider-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .swiper-slide  img{
    height: 837px;
    width: 100%;
    object-position: bottom;
  }
}

.slider-navigation{
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  z-index: 1;
}

.swiper-button-next,
.swiper-button-prev{
  width: 135px;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 135px;
    height: 136px;
  }
}
