.header {
  background-color: rgba(216, 220, 223, 0.8);

  &-content{

    background-image: url("../../img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
