.header {
  background-color: rgba(216, 220, 223, 0.8);

  &-content{

    background-image: url("../../img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.header-top{
  min-height: 101px;
}

.logo{
  img{
    width: 182px;
    height: 63px;
  }
}
.header-top__inner{
  padding: 16px 0;
}

.header-social{
  margin-left: 62px;
}



