.key {
  &-border{
    border: 1px solid #000000;
  border-bottom: none;
  }
  &__title{
    padding-top: 13px;
    border-bottom: 1px solid #000;
    @media (max-width: (868px)) {
      padding-top: 15px;
      padding-bottom: 11px;
    }

  }
  &__description{
    text-align: center;
    font-family: 'Bodoni 72';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    padding: 35px 0;
    color: #000000;
    @media (max-width: (868px)) {
      padding: 33px 0 45px;
      max-width: 560px;
      margin: 0 auto;
      line-height: 1.15;

    }
  }
  &__description-span{
    font-family: 'Bodoni 72';
font-style: italic;
font-weight: 400;
font-size: 32px;
line-height: 35px;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #000000;
  }
  &-wrapper {
    background-image: url("../img/key.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin-bottom: 50px;
    padding-top: 200px;
    @media (max-width: (868px)) {
      margin-right: -26px;
      margin-left: -26px;
      padding-top: 120px;
      height: 582px;
      margin-bottom: 45px;
      background-position: center;
    }
  }

  .wr-key__img-two{
    @media (max-width: (868px)) {
      margin: 0 -26px;
    }

  }

  &__info {
    padding: 50px 85px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2.5px);
    // text-align: center;
    margin: 0 auto;
    max-width: 830px;
    @media (max-width: (868px)) {
      max-width: 602px;
      padding: 38px 40px 25px;
      p{
        line-height: 1.225;
      }
    }
  }
  &__info-caption {
    font-family: "Bodoni 72";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    max-width: 660px;
  }
  &__img-two{
   padding-bottom: 50px;
    border-bottom: 1px solid #000;
    @media (max-width: (868px)) {
      display: block;
      padding-bottom: 0;
    }
  }

  @media (max-width: (868px)) {
    padding-bottom: 45px;
  }
}
