<section class="contacts contacts__section">
  <div class="container">
    <h2 class="title contacts__title">Contacts</h2>
    <div class="contacts-inner">
      <div class="contacts-inner__follow">
        <h5 class="contacts__follow-title">Follow</h5>
        <div class="footer-social">
          <ul class="footer__social-list">
            <li class="footer__social-item">
              <img
                class="footer__social-link"
                src="../img/svg/insta-white.svg"
                alt="insta"
              />
            </li>
            <li class="footer__social-item">
              <img
                class="footer__social-link"
                src="../img/svg/Be-white.svg"
                alt="Be"
              />
            </li>
            <li class="footer__social-item">
              <img
                class="footer__social-link"
                src="../img/svg/penterest-white.svg"
                alt="Penterest"
              />
            </li>
          </ul>
          <div class="contacts__numbers">
            <h4 class="contacts__number-title">Contact us:</h4>
            <a href="tel:+3806740073">+ (380) 67 400 73</a>
            <a href="mailto:twoointeriors@gmail.com">twoointeriors@gmail.com</a>
          </div>
          <ul class="follow__list">
            <li>Kyiv</li>
            <li>Lviv</li>
            <li>Worldwide</li>
          </ul>
        </div>
      </div>
      <div class="contacts-inner__request">
        <h4>Or send us a request and we will contact  you:</h4>
        <button>
          <img src="../img/contacts-request.png" alt="">
        </button>
          <h5>For partners</h5>
          <p>If  you want to work with us, please fill this form</p>

      </div>
    </div>
  </div>
</section>
