<section class="servises">
  <div class="container servises-container">

    <h2 class="title servises__title servises-galery-title">Galery</h2>

    <div class="servises__wrapper-galery">
      <div class="servises__wrapper-item">
        <div class="servises__wrapper-h3 servises__wrapper-h3--active">Interior design</div>
        <div class="servises__wrapper__img">
          <img src="img/servis-card1.png" alt="">

        </div>

      </div>
      <div class="servises__wrapper-item">
        <div class="servises__h3">Art</div>
        <div class="servises__img">
          <img src="img/servis-card2.png" alt="">
        </div>
      </div>
      <div class="servises__wrapper-item">
        <div class="servises__h3">Products</div>
        <div class="servises__img">
          <img src="img/servis-card3.png" alt="">
        </div>
      </div>
    </div>

  </div>
</section>

