<section class="g-project">
  <div class="container">
    <h2 class="title interior__title" >  <span class="interior__title-span"> Interior design / Project </span>/A 11 </h2>
    <p class="g-project__descr">Here can be a text about this project...</p>
    <div class="g-project-items">
      <div class="g-project__items-item">
        <img src="/img/galery-all/1.png" alt="">
      </div>
      <div class="g-project__items-item">
        <img src="/img/galery-all/2.png" alt="">
      </div>
      <div class="g-project__items-item">
        <img src="/img/galery-all/3.png" alt="">
      </div>
      <div class="g-project__items-item">
        <img src="/img/galery-all/4.png" alt="">
      </div>
      <div class="g-project__items-item">
        <img src="/img/galery-all/5.png" alt="">
      </div>
      <div class="g-project__items-item">
        <img src="/img/galery-all/6.png" alt="">
      </div>
      <div class="g-project-gorizont">
        <div class="g-project__items-item">
          <img src="/img/galery-all/7.png" alt="">
        </div>
        <div class="g-project__items-item">
          <img src="/img/galery-all/8.png" alt="">
        </div>
      </div>




    </div>

  </div>
</section>
