
    <div class="ghghhhggh">

      <nav class="nav-block">
          <ul>
              <li data-f="all">All</li>
              <li data-f="alizarin" class="text-alizarin">ALIZARIN</li>
              <li data-f="wisteria" class="text-wisteria">WISTERIA</li>
              <li data-f="emerland" class="text-emerland">EMERLAND</li>
              <li data-f="sunflower" class="text-sunflower">SUNFLOWER</li>
          </ul>
      </nav>
      <div class="block-cover">
          <div class="box alizarin" data-background_image="url(img/1.jpg)" ></div>
          <div class="box wisteria" data-background_image="url(img/1.jpg)" ></div>
          <div class="box emerland" data-background_image="url(img/1.jpg)" ></div>
          <div class="box sunflower" data-background_image="url(img/1.jpg)" ></div>
          <div class="box alizarin" data-background_image="url(img/1.jpg)" ></div>
          <div class="box alizarin" data-background_image="url(img/1.jpg)" ></div>
          <div class="box alizarin" data-background_image="url(img/1.jpg)" ></div>
          <div class="box wisteria" data-background_image="url(img/1.jpg)" ></div>
          <div class="box emerland" data-background_image="url(img/1.jpg)" ></div>
          <div class="box sunflower" data-background_image="url(img/1.jpg)" ></div>
      </div>

  </div>


<section class="g-project">
  <div class="container">
    <h2 class="title g-project__title " >  <span class="interior__title-span"> Interior design / Project </span>/A 11 </h2>
    <p class="g-project__descr">Here can be a text about this project...</p>



    <div class="g-project-items">
      <div class="g-project__items-item">
        <img src="/img/galery-all/1.png" alt="">
      </div>
      <div class="g-project__items-item">
        <img src="/img/galery-all/2.png" alt="">
      </div>
      <div class="g-project__items-item">
        <img src="/img/galery-all/3.png" alt="">
      </div>
      <div class="g-project__items-item">
        <img src="/img/galery-all/4.png" alt="">
      </div>
      <div class="g-project__items-item">
        <img src="/img/galery-all/5.png" alt="">
      </div>
      <div class="g-project__items-item">
        <img src="/img/galery-all/6.png" alt="">
      </div>
      <div class="g-project-gorizont">
        <div class="g-project__items-item">
          <img src="/img/galery-all/7.png" alt="">
        </div>
        <div class="g-project__items-item">
          <img src="/img/galery-all/8.png" alt="">
        </div>
      </div>

    </div>

  </div>
</section>
