
<div class="header">
  <div class="header-content">


    <div class="slider-container">

      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/header-bg.jpg" alt="header">
        </div>
        <div class="swiper-slide">
          <img src="img/header-bg.jpg" alt="header">
        </div>
        <div class="swiper-slide">
          <img src="img/header-bg.jpg" alt="header">
        </div>
      </div>
      <div class="container slider-navigation">
        <div class="swiper-pagination swiper-p1"></div>
        <div class="swiper-button-next swiperbn1">
          <img src="../img/arrow-left.png" alt="">
        </div>
        <div class="swiper-button-prev swiperbn2">
          <img src="../img/arrow-right.png" alt="">
        </div>
      </div>
    </div>


    <div class="container header-container">
      <div class="header-content-inner">


            <div class="header__title ">
              <img src="../img/header-logo.png" alt="header">
            </div>
            <div class="header__img">
              <img src="../img/dreams-btn.png" alt="header-btn">
            </div>





      </div>
    </div>
  </div>
</div>




