
<div class="header">
  <div class="header-content">


    <div class="slider-container">

      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/header-bg.jpg" alt="header">
        </div>
        <div class="swiper-slide">
          <img src="img/header-bg.jpg" alt="header">
        </div>
        <div class="swiper-slide">
          <img src="img/header-bg.jpg" alt="header">
        </div>
      </div>
      <div class="container slider-navigation">
        <div class="swiper-button-next swiperbn1">
          <img src="../img/svg/arrow-right.svg" alt="">
        </div>
        <div class="swiper-button-prev swiperbn2">
          <img src="../img/svg/arrow-left.svg" alt="">
        </div>
      </div>
    </div>


    <div class="container">
      <div class="header-content-inner header-swiper">
        <div class="swiper-slide swiper">

            <h1 class="header__title swiper-slide">
              <img src="../img/header-logo.png" alt="header">
            </h1>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>




