<section class="interior section__interior">
  <div class="container">
    <h2 class="title interior__title" > <span class="interior__title-span">Interior design </span> / Projects</h2>





      <div class="interior-wrapper ">
        <div class="interior__items">
          <div class="interior__items-item">
            <img src="../img/interiors/1.png" alt="">
          </div>
          <div class="interior__items-item">
            <img src="../img/interiors/2.png" alt="">
          </div>
          <div class="interior__items-item">
            <img src="../img/interiors/3.png" alt="">
          </div>
          <div class="interior__items-item">
            <img src="../img/interiors/4.png" alt="">
          </div>
          <div class="interior__items-item">
            <img src="../img/interiors/5.png" alt="">
          </div>
          <div class="interior__items-item">
            <img src="../img/interiors/6.png" alt="">
          </div>
        </div>
        <a href="#">
          <img class="interior__link" src="../img/mobile/read-more.png" alt="read more">
        </a>
      </div>




  </div>
</section>
