<section class="process section__process">
  <div class="container">
    <h2 class="title process__title">Process</h2>
    <div class="process-items">
      <div class="process-items__item">
        <img class="process__item-img" src="../img/process/1.png" alt="">
          <h4 class="process__item-subtitle"> Property finding </h4>
            <p class="process__item-caption">We work closely with a network of property finders who understand the value of your time no help you find the perfect property for your specific needs.</p>
        </img>
      </div>
      <div class="process-items__item">
        <img class="process__item-img" src="../img/process/1.png" alt="">

          <h4 class="process__item-subtitle"> The client brief </h4>
            <p class="process__item-caption">It all begins with an idea. An initial meeting will occur, where we go in depth into how you operate and how you would like the space to function and feel. We take... read more...</p>
        </img>
      </div>
      <div class="process-items__item">
        <img class="process__item-img" src="../img/process/1.png" alt="">

          <h4 class="process__item-subtitle">  Concept</h4>
            <p class="process__item-caption">Once we agreed the brief together, we work with you to form the vision of key areas. The important point of the concept is the planning. Based on the architectural, his ... read more...</p>
        </img>
      </div>
      <div class="process-items__item">
        <img class="process__item-img" src="../img/process/1.png" alt="">

          <h4 class="process__item-subtitle"> Drawing package </h4>
            <p class="process__item-caption">After concept approval we create a detailed technical pack of drawings and specifications, everything the contractors will need to price and eventually execute the ... read more...</p>
        </img>
      </div>
      <div class="process-items__item">
        <img class="process__item-img" src="../img/process/1.png" alt="">

          <h4 class="process__item-subtitle"> Accessorising & furnishing </h4>
            <p class="process__item-caption">After concept approval we create a detailed technical pack of drawings and specifications, everything the contractors will need to price and eventually execute the ... read more...</p>
        </img>
      </div>
      <div class="process-items__item">
        <img class="process__item-img" src="../img/process/1.png" alt="">

          <h4 class="process__item-subtitle"> Project co-ordination & completion </h4>
            <p class="process__item-caption">We offer an Interior Design coordination service, giving you peace of mind throughout the construction and installation stages of the project.... read more...</p>
        </img>
      </div>

    </div>
  </div>
</section>
