
<div class="servises">
  <div class="container">

    <h2 class="title servises__title">Servises</h2>

    <div class="servises__wrapper">
      <div class="servises__item">
        <div class="servises__h3 servises__h3-active">Interior design</div>
        <div class="servises__img">
          <img src="img/servis-card1.png" alt="">
          <img class="servises__img-text" src="img/servis-card1decor.png" alt="">
        </div>

      </div>
      <div class="servises__item">
        <div class="servises__h3">Art</div>
        <div class="servises__img">
          <img src="img/servis-card2.png" alt="">
        </div>
      </div>
      <div class="servises__item">
        <div class="servises__h3">Products</div>
        <div class="servises__img">
          <img src="img/servis-card3.png" alt="">
        </div>
      </div>
    </div>

  </div>
</div>

