
.container{
  padding: 0 25px ;
  max-width: 1500px;
}

.title{
  font-family: 'Bodoni72c';
  font-family: 'Bodoni72c';
font-style: italic;
font-weight: 400;
font-size: 45px;
line-height: 56px;
text-align: center;
letter-spacing: 0.12em;
text-transform: uppercase;
color: #000000;
}

.header{
 &-top{
  border: 1px solid #333333;
 }
  &-top__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

  }

  &-menu__list {
    margin: 0 auto;
    display: flex;
  }

  &__list-item+.header__list-item {
    margin-left: 77px;
  }

  &__list-link {
    font-family: 'Bodoni 72';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.06em;
    padding-bottom: 6px;
    color: #000000;
    transition: all 0.5s;
  }

  &__list-link:hover {
    border-bottom: 1px solid #333333;

  }

  &__social-list {
    display: flex;
    cursor: pointer;
  }

  &__social-item+.header__social-item {
    margin-left: 20px;
  }

}
.footer {
  background: linear-gradient(
    273.19deg,
    #000000 9.7%,
    rgba(0, 0, 0, 0.65) 89.38%
  );

  &-top__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__logo {
    margin-bottom: 65px;
    display: block;
  }

  &-menu__list,
  &__social-list {
    display: flex;
  }

  .footer__list-item + &__list-item {
    margin-left: 80px;
  }

  .footer__social-item + &__social-item {
    margin-left: 20px;
  }

  &__list-link {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: #ffffff;
  }

  &-partners__title {
    margin-bottom: 16px;
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }

  &-partners__link {
    text-decoration: underline;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #ffffff;
  }
  &-bottom{
    margin-bottom: 40px;
  }
  &__bottom-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: center;
  }
}


@media(max-width:760px){
.header{
  .logo{
      width: 160px;
      height: 48px;
  }
  &__list-item+.header__list-item {
    margin-left: 24px;
  }
  &__social-item+.header__social-item {
    margin-left: 9px;
  }
  &__list-link {
    font-size: 20px;
    line-height: 24px;
  }

}
}
