
.container{
  padding: 0 25px ;
  max-width: 1450px;
}
.title{
  font-family: 'Bodoni72c';
  font-family: 'Bodoni72c';
font-style: italic;
font-weight: 400;
font-size: 45px;
line-height: 56px;
text-align: center;
letter-spacing: 0.12em;
text-transform: uppercase;
color: #000000;
}
